<div style="padding: 15px">
  <mat-card class="example-card">
    <mat-card-title-group>
      <mat-card-title>{{ post.title }}</mat-card-title>
      <mat-card-subtitle>{{ post.date }}</mat-card-subtitle>
      <img mat-card-sm-image *ngIf="post.image" [src]="apiUrl + '/uploads/' + post.image">
    </mat-card-title-group>
    <mat-card-content>
      {{ post.content }}
    </mat-card-content>
  </mat-card>
</div>

<h2>Comments:</h2>

<br>
<div *ngFor="let comment of comments">
  <mat-card>
    <mat-card-title>{{ comment.author }}</mat-card-title>
    <mat-card-content>
      {{ comment.comment }}
    </mat-card-content>
    <mat-card-actions align="end">
      <button (click)="deleteComment(comment.id)" mat-button>DELETE</button>
    </mat-card-actions>
  </mat-card>
</div>

<div style="width: 70%; padding: 40px">
  <h3>Add new Comment</h3>
  <mat-card>
    <mat-card-content>
      <form (ngSubmit)="onSubmit()" #f="ngForm" fxLayout="column">
        <mat-form-field appearance="outline">
          <mat-label>Author</mat-label>
          <input name="author" matInput ngModel/>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Comment</mat-label>
          <textarea
            name="content"
            ngModel
            required
            matInput
            cdkTextareaAutosize
            cdkAutosizeMinRows="3"
          ></textarea>
        </mat-form-field>
        <div>
          <button
            type="submit"
            mat-raised-button
            color="primary"
            [disabled]="f.invalid"
          >ADD</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>


