<div style="padding: 15px">
  <mat-card class="example-card">
    <mat-card-title-group>
      <mat-card-title>{{ post.title }}</mat-card-title>
      <mat-card-subtitle>{{ post.date }}</mat-card-subtitle>
      <img mat-card-sm-image *ngIf="post.image" [src]="apiUrl + '/uploads/' + post.image">
    </mat-card-title-group>
    <mat-card-content>
      {{ post.content }}
    </mat-card-content>
  </mat-card>
</div>

<h2>Comments:</h2>

<br>
<div *ngFor="let comment of comments">
  <mat-card>
    <mat-card-title>{{ comment.author }}</mat-card-title>
    <mat-card-content>
      {{ comment.comment }}
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-button>DELETE</button>
    </mat-card-actions>
  </mat-card>
</div>


